<div class="cart w-100">
    <div class="cart-header">
        <h4 class="title">Shopping Cart</h4>
        <button class="close-cart"><i class="fa-solid fa-xmark fs-3"></i></button>
    </div>
    <div class="cart-content">
        <div class="cart-list" id="Cart">
            
        </div>

        <div class="total" id="total">
            
        </div>
    </div>
    <div class="cart-footer">
        <form method="post">
            <button class="check-out" asp-action="Index" asp-controller="Payments">check out</button>
        </form>
    </div>
</div>

