<div class="footer pt-4 pb-4 text-white-50">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-12">
                <h3 class="logo pb-2">GOAL</h3>
                <h6 class="pb-4 text-light">Buy From Goal To Be The Goat</h6>
                <p>Ecommmere Online Store Which is Specialized In Sportswear And Tools</p>
            </div>
            <div class="col-md-3 col-sm-6 col-12">
                <h3 class="text-light">Product Category</h3>
                <ul class="list-unstyled lh-lg">
                    <li>T-shirts</li>
                    <li>Accessories</li>
                    <li>Shoes</li>
                    <li>Bags</li>
                    <li>Special Edition</li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 col-12">
                <h3 class="text-light">About Us</h3>
                <ul class="list-unstyled lh-lg">
                    <li>Sign In</li>
                    <li>Register</li>
                    <li>
                        <h5 class="text-light">Phone</h5>
                        <span>+201286266142</span>
                    </li>
                    <li>
                        <h5 class="text-light">Email</h5>
                        <span>goal-store@gmail.com</span>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 col-12">
                <div class="payment">
                    <h3 class="text-light">Payment</h3>
                    <ul class="list-unstyled d-flex  pt-3 flex-wrap ps-0">
                        <li class="visa d-flex align-items-center justify-content-center rounded-circle me-4 me-md-2 me-lg-4"><a href="#" class="text-light d-block fs-1"><i class="fa-brands fa-cc-visa"></i></a></li>
                        <li class="paypal d-flex align-items-center justify-content-center rounded-circle me-4 me-md-2 me-lg-4"><a href="#" class="text-light d-block fs-1"><i class="fa-brands fa-cc-paypal"></i></a></li>
                        <li class="master-card d-flex align-items-center justify-content-center rounded-circle me-4 me-md-2 me-lg-4"><a href="#" class="text-light d-block fs-1"><i class="fa-brands fa-cc-mastercard"></i></a></li>
                        <li class="apple-pay d-flex align-items-center justify-content-center rounded-circle me-4 me-md-2 me-lg-4"><a href="#" class="text-light d-block fs-1"><i class="fa-brands fa-cc-apple-pay"></i></a></li>
                        <li class="amazon-pay d-flex align-items-center justify-content-center rounded-circle me-4 me-md-2 me-lg-4"><a href="#" class="text-light d-block fs-1"><i class="fa-brands fa-cc-amazon-pay"></i></a></li>
                    </ul>
                </div>
                <div class="social">
                    <h5 class="text-light">Social Headline</h5>
                    <ul class="list-unstyled d-flex pt-3 ps-0">
                        <li class="facebook d-flex align-items-center justify-content-center rounded-circle me-4 me-md-0 me-lg-4"><a href="#" class="text-light d-block"><i class="fa-brands fa-facebook-f"></i></a></li>
                        <li class="twitter d-flex align-items-center justify-content-center rounded-circle me-4 me-md-0 me-lg-4"><a href="#" class="text-light d-block"><i class="fa-brands fa-x-twitter"></i></a></li>
                        <li class="instagram d-flex align-items-center justify-content-center rounded-circle me-4 me-md-0 me-lg-4"><a href="#" class="text-light d-block"><i class="fa-brands fa-instagram"></i></a></li>
                        <li class="youtube d-flex align-items-center justify-content-center rounded-circle me-4 me-md-0 me-lg-4"><a href="#" class="text-light d-block"><i class="fa-brands fa-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <hr>
        <div class="copyright text-center pt-2">
            <p>copyright &copy; 2024 Goal Store <span class="ps-2">Made By <span class="text-light">PENTACODE</span> Team.</span></p>
        </div>
    </div>
</div>